:root {
  --header-height: 60px;
  --box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  --border-color: #FFFFFF1A;
  --yellow: 245, 197, 24;
  --background: #FFFFFF1F;
  --b6a: 219, 219, 219;
  --b3f: 250, 250, 250;
  --cdd: 38, 38, 38;
  --f75: 38, 38, 38;
}
